.ocfilter a,.ocfilter a:hover,.ocfilter a:active{background:none;border:none;padding:0;box-shadow:none;text-shadow:none;}

.ocfilter-option .option-name{font-weight:500;margin:0 0 5px;}
.ocfilter-option .option-values{overflow:visible;}
.list-group > div:first-child {border-radius:4px 4px 0 0 !important;}
.list-group > div:last-child {border-radius:0 0 4px 4px !important;}

.ocfilter-option .option-values p {margin:3px 0 -1px;}
.ocfilter-option .option-values p a {color:#D9534F;font-weight:500;border-bottom:dotted 1px;}
.ocfilter-option .option-values p a i {font-size:1.0em;margin:0 0 0 2px;}
.ocfilter-option .option-values .collapse + p a i {transform:rotate(0deg)}
.ocfilter-option .option-values .collapse.in + p a i {transform:rotate(180deg)}

.list-group-item{overflow: visible!important;padding:8px 10px 10px;border:solid 1px rgba(0, 0, 0, .12);border-radius:0 !important;}
.ocfilter-option .option-values .dropdown-menu{width: 100%;}
.ocfilter-option .option-values .dropdown-menu > li{padding: 10px; }
.ocfilter-option .color{border-radius: 3px 3px 3px 3px; float: left; height: 19px; margin: 1px -16px 0 -3px; width: 19px;}
.ocfilter-option .image{background-repeat: no-repeat; background-position: 0 0; float: left; height: 19px; margin: 1px -16px 0 -3px; position: relative; width: 19px; z-index: 10;}
.ocfilter-option label{max-width:none;margin:0 -4px;padding:0 4px;cursor:pointer;display:block;border-radius:2px;}
.ocfilter-option label:last-child {margin: 0 -4px -2px;}
.ocfilter-option label:hover {background:rgba(0, 0, 0, .05);}
.ocfilter-option label.disabled:hover {background:none;cursor:default}
.ocfilter-option label small{float:right;margin:4px 0 0;padding:2px 4px;font-size:.7em;font-weight:400;border:solid 1px rgba(0, 0, 0, .12);opacity:.5}
.ocfilter-option label.disabled{opacity:.5}
.ocfilter-option label.disabled small{background-color: #ddd; color: #444;}
.ocfilter-option label a{text-decoration:none;}
.ocfilter-option label.selected small{display: none;}

.noUi-target {height:8px;margin:14px 8px 0;}
.noUi-connect {background:rgba(0, 0, 0, .1); box-shadow:none;}

.noUi-horizontal .noUi-handle {
	width: 16px;
	height: 16px;
	left: -8px;
	top: -5px;
	box-shadow:none;
	border:solid 1px rgba(0, 0, 0, .12);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, .3);
	border-radius:100%;
	cursor:pointer;
}

.noUi-handle:before, .noUi-handle:after {display:none !important;}

.ocfilter-option label input[type='radio'] + span, .ocfilter-option label input[type='checkbox'] + span {margin-right:2px;}

.selected-options {padding-bottom:6px;background:rgba(0, 0, 0, .03)}
.selected-options .ocfilter-option a{font-size:.85em;background:rgba(0, 0, 0, .05);margin:0 4px 5px 0;padding:2px 5px;border:solid 1px rgba(0, 0, 0, .12);border-radius:2px;}
.selected-options .ocfilter-option a:hover {background:rgba(0, 0, 0, .08)}
.selected-options .ocfilter-option a i {font-size:.9em;}
.selected-options a {font-size:.85em;border-bottom:dotted 1px;}
.selected-options a i {font-size:.9em;}

#ocfilter-price .option-values{padding: 10px 10px 5px;}
.trackbar, .trackbar .left-block, .trackbar .right-block{height: 4px;}
.popover-content .form-inline{white-space: nowrap;}
.popover-content .form-inline .form-group{display: inline-block; margin-bottom: 0; vertical-align: middle;}
.scale{margin-bottom: 35px;}
.trackbar{background-color: #41AA35; margin:0; padding: 0;} /*=Width was given automatically */
.trackbar .handler-block{background-color: #DADADA; width: 0;}
.trackbar .left-block{border-radius: 3px 0 0 3px; float: left; margin: 0 0 0 -3px; padding: 0 0 0 3px;}
.trackbar .right-block{border-radius: 0 3px 3px 0; float: right; margin: 0 -3px 0 0; padding: 0 3px 0 0;}
				.trackbar .trackbar-handler{-moz-box-sizing: content-box; -webkit-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box; border: 4px solid #04B6F0; background-color: #0E6A93; border-radius: 50% 50% 50% 50%; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); cursor:pointer; width: 4px; height: 4px;margin-top: -4px;}
    		.scale.disabled .trackbar,
        .scale.disabled .trackbar-handler{background-color: #F2F2F2;}
        .scale.disabled .trackbar-handler{border-color: #BABABA;}

		    .trackbar .left-handler{float: right; margin-right: -6px;}
		    .trackbar .right-handler{float: left; margin-left: -6px;}

		.trackbar-scale{height: 18px; line-height: normal; margin: 2px 0 0; padding: 0 8px 0 5px;}
		.trackbar-scale a,
		.trackbar-scale div{border-left: 1px solid #DADADA;display:block;float:left;margin-right: -2px;text-decoration: none;position: relative;height: 5px;}

		.trackbar-scale a.last,
		.trackbar-scale div.last{border-right: 1px solid #DADADA; margin-right: -4px;}

			.trackbar-scale a:hover,
			.trackbar-scale a:hover span,
			.trackbar-scale a:hover + a .from{background-color: #F8F8F8; color:#000000;}

			.trackbar-scale div{background-color: #0EB9F0;}
			.trackbar-scale a span,
			.trackbar-scale div span{color: #666666; font-size: 8px; position: absolute; top: 5px;}

			.trackbar-scale a span.from,
			.trackbar-scale div span.from{left: 0; }

			.trackbar-scale a span.to,
			.trackbar-scale div span.to{right: 0; }

  /*=Price diagram */
  .price-diagram{box-shadow: 0 1px 1px #DBDEE1 inset; background: #F2F2F2 url('../../image/ocfilter/diagram-bg-repeat.png') repeat 0 1px; border-radius: 3px 3px 3px 3px; overflow: hidden; margin: 10px 10px 5px 5px;}
    .diagram-field{position:relative;margin: 0;height: 40px;}
			.diagram-field circle{stroke-width: 2; opacity: 1;}
			.diagram-field path{stroke-width: 1; opacity: 0.25; stroke-opacity: 1;}

  .ocfilter .popover .form-inline .form-control{width: 100px;}
/* Position center style */

.ocfilter-content-top,

.ocfilter-content-bottom{}
	.ocfilter-content-top .box-content,

	.ocfilter-content-bottom .box-content{font-size: 0;}

  .ocfilter-content-top .ocfilter-option,

	.ocfilter-content-bottom .ocfilter-option{display: inline-block; vertical-align: top; width: 33%;}

  .ocfilter-content-top .ocfilter-option + .ocfilter-option,

	.ocfilter-content-bottom .ocfilter-option + .ocfilter-option{border-top: none;}