<div class="list-group">
	<?php foreach ($categories as $category) { ?>
		<?php if ($category['category_id'] == $category_id) { ?>
			<a href="<?php echo $category['href']; ?>" class="list-group-item active"><?php echo $category['name']; ?></a>
			<?php if ($category['children']) { ?>
				<?php foreach ($category['children'] as $child) { ?>
					<?php if ($child['category_id'] == $child_id) { ?>
						<a href="<?php echo $child['href']; ?>" class="list-group-item active"><i class="fa fa-reply" aria-hidden="true"></i> <?php echo $child['name']; ?></a>
					<?php } else { ?>
						<a href="<?php echo $child['href']; ?>" class="list-group-item"><i class="fa fa-reply" aria-hidden="true"></i> <?php echo $child['name']; ?></a>
					<?php } ?>
				<?php } ?>
			<?php } ?>
		<?php } else { ?>
			<a href="<?php echo $category['href']; ?>" class="list-group-item"><?php echo $category['name']; ?></a>
		<?php } ?>
	<?php } ?>
</div>
