<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-blog-by-category" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_edit; ?></h3>
      </div>
      <div class="panel-body">
        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-blog-by-category" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name"><?php echo $entry_name; ?></label>
            <div class="col-sm-10">
              <input type="text" name="name" value="<?php echo $name; ?>" placeholder="<?php echo $entry_name; ?>" id="input-name" class="form-control" />
              <?php if ($error_name) { ?>
              <div class="text-danger"><?php echo $error_name; ?></div>
              <?php } ?>
            </div>
        </div>          
		<div class="form-group">
            <label class="col-sm-2 control-label" for="input-category"><?php echo $entry_category; ?></label>
            <div class="col-sm-10">
				<div class="scrollbox" style="margin-bottom:6px;">
					<?php foreach ($categories as $category) { ?>
						<div>
							<?php if (in_array($category['category_id'], $category_id)) { ?>
								<label><input type="checkbox" name="category[]" value="<?php echo $category['category_id']; ?>" checked="checked" /> <?php echo $category['name']; ?></label>
							<?php } else { ?>
								<label><input type="checkbox" name="category[]" value="<?php echo $category['category_id']; ?>" /> <?php echo $category['name']; ?></label>
							<?php } ?>
						</div>
					<?php } ?>
				</div>
				<a onclick="$(this).parent().find(':checkbox').attr('checked', true).prop('checked', true);"><?php echo $text_select_all; ?></a>
				/ 
				<a onclick="$(this).parent().find(':checkbox').attr('checked', false).prop('checked', false);"><?php echo $text_unselect_all; ?></a>
			</div>
        </div>
		<div class="form-group">
            <label class="col-sm-2 control-label" for="input-category"><?php echo $entry_category2; ?></label>
            <div class="col-sm-10">
				<div class="scrollbox" style="margin-bottom:6px;">
					<?php foreach ($categories2 as $category) { ?>
						<div>
							<?php if (in_array($category['category_id'], $category_id2)) { ?>
								<label><input type="checkbox" name="category2[]" value="<?php echo $category['category_id']; ?>" checked="checked" /> <?php echo $category['name']; ?></label>
							<?php } else { ?>
								<label><input type="checkbox" name="category2[]" value="<?php echo $category['category_id']; ?>" /> <?php echo $category['name']; ?></label>
							<?php } ?>
						</div>
					<?php } ?>
				</div>
				<a onclick="$(this).parent().find(':checkbox').attr('checked', true).prop('checked', true);"><?php echo $text_select_all; ?></a>
				/ 
				<a onclick="$(this).parent().find(':checkbox').attr('checked', false).prop('checked', false);"><?php echo $text_unselect_all; ?></a>
			</div>
        </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-limit"><?php echo $entry_limit; ?></label>
            <div class="col-sm-10">
              <input type="text" name="limit" value="<?php echo $limit; ?>" placeholder="<?php echo $entry_limit; ?>" id="input-limit" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-width"><?php echo $entry_width; ?></label>
            <div class="col-sm-10">
              <input type="text" name="width" value="<?php echo $width; ?>" placeholder="<?php echo $entry_width; ?>" id="input-width" class="form-control" />
              <?php if ($error_width) { ?>
              <div class="text-danger"><?php echo $error_width; ?></div>
              <?php } ?>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-height"><?php echo $entry_height; ?></label>
            <div class="col-sm-10">
              <input type="text" name="height" value="<?php echo $height; ?>" placeholder="<?php echo $entry_height; ?>" id="input-height" class="form-control" />
              <?php if ($error_height) { ?>
              <div class="text-danger"><?php echo $error_height; ?></div>
              <?php } ?>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status"><?php echo $entry_status; ?></label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                <?php if ($status) { ?>
                <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                <option value="0"><?php echo $text_disabled; ?></option>
                <?php } else { ?>
                <option value="1"><?php echo $text_enabled; ?></option>
                <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                <?php } ?>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
<style>
	.control-label span {color:#888;font-weight:400;}
	.control-label span:after {display:none}
	.scrollbox {border:1px solid #CCCCCC; height:250px; padding:4px 6px; margin-bottom:10px; background:#FFFFFF; overflow-y:scroll;}
	.scrollbox > div {padding:2px 5px}
	.scrollbox > div label {font-weight:400;}
	.scrollbox > div input[type="radio"], input[type="checkbox"] {margin: 5px 2px -2px 0;}
	.scrollbox > div:nth-child(2n) {background:#f4f4f4 !important;}
  </style>
<?php echo $footer; ?>